*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.debug *{
    border: 1px dashed black
}

.debug header{
    background-color: blue;
    height: 60px;
}
.debug main{
    background-color: green;
    height: 765px;
}
.debug footer{
    background-color: red;
    height: 80px;
}
header{
    width: 100%;
    background-color: #ff6900;
}
.container-header {
    margin: auto;
    width: 70%;

}
.bg-orange{
    background-color: #ff6900;
    width: 100%;
}

.d-flex{
    display: flex;
    align-items: center;
}

.menu{
    margin-left: 15%;
}
.list{
    padding-right: 0.3rem;
    list-style: none;

}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    display: block;
}
.logo{
    margin-right: 75%;

}
.justify-content-between{
    justify-content: space-between;
    align-items: center;
}

.justify-content{
    justify-content: center;
}
body{
    
}