* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
.debug * {
	border: 1px dashed black;
}

.debug header {
	background-color: blue;
	height: 60px;
}
.debug main {
	background-color: green;
	height: 1300px;
}
.debug footer {
	background-color: red;
	height: 80px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
	width: 100%;
	background-color: #ff6900;
}
.container-header {
	margin: auto;
	width: 70%;
}
.bg-orange {
	background-color: #ff6900;
	width: 100%;
}

.d-flex {
	display: flex;
	align-items: center;
}

.menu {
	margin-left: 15%;
	margin-right: 18%;
}
.list {
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	display: block;
}

.justify-content-between {
	justify-content: space-between;
	align-items: center;
}

.justify-content {
	justify-content: center;
	align-items: center;
}

.icon {
	width: 2%;
}

.container-main {
	width: 80%;
	margin: auto;
	margin-top: 3rem;
}
.wrap {
	flex-wrap: wrap;

}
.product {
	width: 66%;
	padding: 25px;
	padding-bottom: 60px;
}

.heart {
    width: 5%;
	position: absolute;

	background-color: white;
	color: black;
}
.position-heart {

	top: 8%;
	left: 58%;
	width: 4.5%;
}

.photo {
	position: relative;


}
.text {
	position: absolute;
	top: 91%;
	left: 4%;
}

.text2 {
	position: absolute;
	top: 94%;
	left: 4%;
}
.dimension{
    width: 30%;
    margin: 10px;
    
}

.photo:hover .product-bsrc{
    display: block;
    width: 100%;
}

.product-bsrc{
    display: none;
}

.photo:hover .product{
    display: none;
    min-width: 100%;
}